<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Marknet.accdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
	</connectionStrings>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
		<add key="CreditCardWS.CreditCardWS" value="http://localhost:9501/CreditCardWS/CreditCardWS.asmx"/>
	<add key="CurrencyConvertorWS.CurrencyConvertorWS" value="http://localhost:9502/CurrencyConvertorWS/CurrencyConvertorWS.asmx"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="CurrencyConvertorWSSoap"/>
				<binding name="CreditCardWSSoap"/>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:9801/CurrencyConvertorWS/CurrencyConvertorWS.asmx" binding="basicHttpBinding" bindingConfiguration="CurrencyConvertorWSSoap" contract="CurrencyConvertorWS.CurrencyConvertorWSSoap" name="CurrencyConvertorWSSoap"/>
			<endpoint address="http://localhost:9802/CreditCardWS/CreditCardWS.asmx" binding="basicHttpBinding" bindingConfiguration="CreditCardWSSoap" contract="CreditCardWS.CreditCardWSSoap" name="CreditCardWSSoap"/>
		</client>
	</system.serviceModel>
</configuration>
